MY_NAME=""

BASH_PROFILE=""

PREFERRED_TEXT_EDITOR_FOR_CODING="Visual Studio Code" # application name

PATH_TO_WEB_BROWSER_APPLICATION="/Applications/Google Chrome.app"

WORK_DIRECTORY=""

TPKIT_PATH=""

TPKIT_PYTHON_VENV_DIRECTORY=""

TPKIT_PYTHON=""
